<div class="list__item js_comment_item" data-id="{{comment.id}}">
    <div class="list__content_align_left">
        <div class="comment__label">{{comment.firstLetterName}}</div>
    </div>
    <div class="list__content_align_right">
        <div class="list__trigger comment__header style_gray">
            {{comment.userName}}
            <span class="list__actions">
                <span class="js_edit_comment link blue" data-id="{{comment.id}}">E</span>
                <span class="js_remove_comment link blue" data-id="{{comment.id}}">X</span>
            </span>
        </div>
        <div class="comment__text">{{comment.content}}</div>
    </div>
</div>