{{#if workflow}}
    <div class="opentask__steps tasksteps">
        <div class="tasksteps__list">
            {{#each workflow}}
                <div class="tasksteps__item taskstep header_title style_gray">
                    {{title}}
                    <div class="taskstep__description">
                        {{#if date_finish}}
                            ({{[../../js/hbs/dateFormat] 'DD MMM' date_finish}})
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}

<div class="grid">
    <div class="grid__cell grid__cell_size_5">
        <div class="opentask__section tasksection">
            <div class="opentask__title header_section">Задачи</div>
            <div class="list list_type_todo">
                {{#each subtasks}}
                    <label class="list__item tasksection">
                        <div class="list__content_align_left">
                            <input class="tasksection__checkbox" type="checkbox" {{#if completed}} checked {{/if}}>
                        </div>
                        <div class="list__content_align_right">
                            <div class="tasksection__text">
                                {{title}}
                                <span class="tasksection__actions">
                                    <span class="js_edit_subtask link blue">E</span>
                                    <span class="js_del_subtask link blue">X</span>
                                </span>
                            </div>
                        </div>
                    </label>
                {{/each}}
            </div>
            <div class="form__add">
                <input placeholder="Добавить новую задачу" class="input js_add_subtask"/>
                <i class="icon icon_size_s icon__enter icon_align_vertical"></i>
            </div>
        </div>
        <div class="opentask__section tasksection">
            <div class="opentask__title comments header_section">Комментарии</div>
            <div class="list list_type_todo">
                {{#each comments}}
                    <div class="list__item">
                        <div class="list__content_align_left">
                            <div class="comment__photo">{{user}}</div>
                        </div>
                        <div class="list__content_align_right">
                            <div class="comment__header style_gray">{{userName}}</div>
                            <div class="comment__text">{{content}}</div>
                            <span class="tasksection__actions">
                                <span class="js_comment_edit link blue">E</span>
                                <span class="js_comment_remove link blue">X</span>
                            </span>
                        </div>
                    </div>
                {{/each}}
                <div class="form__add">
                    <input placeholder="Комментарий" class="input js_add_comment">
                    <i class="icon i icon icon_size_s icon__enter icon_align_vertical"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="grid__cell grid__cell_size_3">
        <div class="opentask__title tabs header_section">
            <div class="tabs__item tabs__item_state_open">Основное</div>
            <!--<div class="tabs__item">Настройки</div>-->
        </div>
        <div class="opentask__section">
            <table class="opentask__description opendescription">
                <tr>
                    <td colspan="2" class="opendescription__cell">
                        <div class="header_section opendescription__header">Описание</div>
                        <div class="opentask__text">{{description}}</div>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td class="opendescription__cell header_section opendescription__header">Приоритет</td>-->
                    <!--<td class="opendescription__cell">{{priority}}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td class="opendescription__cell header_section opendescription__header">Ветки</td>-->
                <!--<td class="opendescription__cell">-->
                    <!--{{#each branches}}-->
                <!--<div>{{title}} <a href="#/task/{{branch}}" class="link">{{branch}}</a></div>-->
                    <!--{{/each}}-->
                <!--</td>-->
                <!--</tr>-->
            </table>
        </div>
    </div>
</div>