mixin project-tasks(tasks)
	.tasks
		.tasks__item
			.task__cell.header__section
				.tasks__cell.task__main
					span.style_gray Номер релиза
					i.icon.icon__add.icon_padding_left.icon_hover_on
				.tasks__cell
					span.style_gray Задачи
				.tasks__cell.task_align_right
					span.style_gray Старт
				.tasks__cell
					span.style_gray Релиз
				.tasks__cell
		each task in tasks
			a(href= task.url, class="link style_hover_light tasks__item style_black")
				.task__cell
					.tasks__cell.task__main
						span.style_black= task.title
					.tasks__cell
						span.style_green 23
						span.style_delimiter.style_gray /
						span.style_black 52
					.tasks__cell.task_align_right
						span.style_black 12 сен
					.tasks__cell
						span.style_black 21 окт
					.tasks__cell
			//- each row in section.body
				a(href= row.url, class="link style_hover_light tasks__item #{row.isGroup ? 'tasks-group' : ''} #{row.isGroupItem ? 'tasks-group__item' : ''} style_#{row.color}")
					each cell in row.cells
						div(class="tasks__cell #{cell.isRight ? 'task_align_right' : ''}")
							case cell.type
								when 'main'
									if row.isGroup
										i.icon.icon__collapse-arrow.icon_size_xs
									span.task__title= cell.title
								when 'nums'
									each link, i in cell.nums
										span(class="style_" + link.color)= link.num
										if i != cell.nums.length-1
											span.style_delimiter.style_gray /
								when 'text'
									span.style_black= cell.title
								when 'menu'
									i.icon.icon__more.icon_size_s
								when 'icon'
									case cell.state
										when 'done'
											i.icon.icon__done
										when 'problem'
											i.icon.icon__problem
										when 'progress'
											i.icon.icon__progress