<section class="page__section project__menu">
    <div class="menu">
        <div class="menu__item menu__item_type_burger dropdown dropdown_on_hover">
            <div class="dropdown__trigger">
                <i class="icon icon__burger icon_hover_on icon_size_l"></i>
            </div>
            <div class="dropdown__context">
                {{#each sections}}
                    <a href="#{{url}}" data-type="{{type}}" class="dropdown__item link js_menu_subitem {{#if isActive}}active black{{else}}blue{{/if}}">{{name}}</a>
                {{/each}}
                <a href="#logout/" class="dropdown__item link js_menu_subitem blue">Выйти</a>
            </div>
        </div>
        {{#each sections}}
            {{#if isActive}}
                <a href="#{{url}}" class="menu__item active menu__header link style_black js_menu_item">{{name}}</a>
                {{#each links}}
                    <a href="#{{url}}" class="menu__item link js_menu_item">{{name}}</a>
                {{/each}}
                {{#if canCreate}}
                    <div class="menu__item dropdown dropdown_on_hover">
                        <div class="dropdown__trigger nostyle noalign">
                            Создать
                            <i class="icon icon__chevron icon_rotate_180 icon_size_xs"></i>
                        </div>
                        <div class="dropdown__context">
                            <span class="dropdown__item js_create_project link blue">Проект</span>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}
        <a href="#/profile/" class="link menu__item style_float_right js_menu_item">Антон Ахатов</a>
    </div>
</section>