mixin tracker(tasks)
	section.tracker__timer
		span 8
		span.tracker_time-format ч
		span 12
		span.tracker_time-format мин
	section.tracker__tabs
	//- section.tracker__list
		each task in tasks
			.tracker__item
				.tracker__info
					.tracker__title
						i.icon.icon__problem.icon_size_xs.tracker__icon
						a(href= task.url).link.style_red.style_bold= task.name_id
						span.style_gray.tracker__time.tracker_time-format 12ч
						//- case task.type
							when 'open'
								a(href= task.url).link.style_bold= task.branch
								a(href= task.url).link.tracker__time.tracker_time-format взять в работу
							when 'done'
								i.icon.icon__done.icon_size_xs.tracker__icon
								a(href= task.url).link.style_gray.style_bold= task.branch
								span.style_gray.tracker__time.tracker_time-format= task.time
							when 'problem'
								i.icon.icon__problem.icon_size_xs.tracker__icon
								a(href= task.url).link.style_red.style_bold= task.branch
								span.style_gray.tracker__time.tracker_time-format= task.time
							default
								a(href= task.url).link.style_black.style_bold= task.branch
								span.style_gray.tracker__time.tracker_time-format= task.time
					//- div(class="tracker__description #{task.type === 'done' ? 'style_gray' : ''}")= task.description
					div(class="tracker__description")= task.description
				.tracker__menu
					i.icon.icon__more.icon_size_s